<div style="background-color: antiquewhite; padding: 10px 20px">
  <div>
    <p>
      Button 1: Get all the Users list at once (using Angular HttpModule)
      <br />
      <small> [Controller and Service return the data instantaneously] </small>
    </p>
    <p>
      Button 2: Get all the Users asynchronously (using Angular HttpModule)
      <br />
      <small>
        [Method 1: Service Method has the logic, Method 2: Controller itself has
        the logic]
      </small>
    </p>
    <p>
      Button 3: Get all the Users asynchronously (using JS XMLHttpRequest)
      <br />
      <small>
        [Method 1: Service Method has the logic, Method 2: Controller itself has
        the logic]
      </small>
    </p>
  </div>

  <hr />

  <div style="display: flex; justify-content: space-around; flex-wrap: wrap">
    <button class="btn btn-success" (click)="makeReq()">Button 1</button>
    <button class="btn btn-primary" (click)="makeAsyncReq(1)">
      Button 2 (method 1)
    </button>
    <button class="btn btn-primary" (click)="makeAsyncReq(2)">
      Button 2 (method 2)
    </button>
    <button class="btn btn-danger" (click)="makeAsyncReqXhr(1)">
      Button 3 (method 1)
    </button>
    <button class="btn btn-danger" (click)="makeAsyncReqXhr(2)">
      Button 3 (method 2)
    </button>
  </div>

  <hr />

  <div>
    <p>Output window:</p>
    <div style="background-color: gainsboro; width: 100%; padding: 10px">
      <code>{{ code }}</code>
    </div>
  </div>

  <hr />

  <div class="table-responsive">
    <p>Table:</p>
    <table class="table table-striped table-bordered table-dark table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <!-- For list of Users -->
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.city }}</td>
        </tr>

        <!-- For page load -->
        <tr *ngIf="users.length === 0 && !loading">
          <td colspan="2" style="text-align: center">No records yet</td>
        </tr>

        <!-- For async loading -->
        <tr *ngIf="loading">
          <td colspan="2" style="text-align: center">
            <div class="spinner-border" role="status"></div>
            <br />
            Loading records...
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
